*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

header {
  color: 000;
}

.container {
  max-width: 1200px;
  outline: 1px solid red;
  margin: 0 auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 105px;
}

.header__text {
  margin-right: auto;
  margin-left: 3rem;
  color: #9a9a9a;
  font-size: 1rem;
}

.header__phone {
  font-weight: 500;
  font-size: 1.25rem;
}
.header__phone a {
  color: #303030;
  text-decoration: none;
  text-align: right;
  position: relative;
}
.header__phone a:before {
  content: '';
  background-image: url(../img/phone.svg);
  width: 0.94rem;
  height: 0.94rem;
  position: absolute;
  left: -1.68rem;
  top: 0.31rem;
}

.header__phone-text {
  font-size: 0.75rem;
  font-weight: 400;
  color: #9a9a9a;
  padding-top: 3px;
}

.top {
  margin-bottom: 4.625rem;
}
.top__images {
  max-width: 107.5rem;
  margin: 0 auto;
  min-height: 34rem;
  background: #fff url(../img/header-bg.jpg) no-repeat center center/cover;
}
.top__wrapper {
  margin-top: -28.125rem;
}
.top__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.top__inner-img {
  margin-left: 7.8125rem;
}
.top__inner-form {
  max-width: 35.625rem;
  width: 100%;
  color: #fff;
}
.top__inner-suptitle {
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 5rem;
  letter-spacing: 2px;
}
.top__inner-title {
  font-size: 3.75rem;
  font-weight: 600;
  margin-bottom: 2.5rem;
}
.top__inner-text {
  margin-bottom: 5.625rem;
  font-size: 1.125rem;
  line-height: 1.5rem;
}
.top__inner .top-form {
  background-color: #fff;
  padding: 1.25rem;
}
.top__inner .top-form form {
  border: 2px solid #c8dcba;
  border-radius: 1px;
  position: relative;
}
.top__inner .top-form__inner {
  padding: 2.5rem 2.5rem 7.30rem 2.5rem;
}
.top__inner .top-form__title {
  font-size: 0.875rem;
  font-weight: 700;
  color: #ffe7e7;
  line-height: 22px;
  letter-spacing: 1.5px;
  margin-bottom: 2rem;
  text-transform: uppercase;
  width: 11.6rem;
}
.top__inner .top-form input {
  border: none;
  padding-top: 0.875rem;
  padding-bottom: 0.875rem;
  border-bottom: 1px solid #c8dcba;
  outline: none;
  font-size: 0.875rem;
  font-weight: 400;
  color: #303030;
  width: 12.5rem;
}
.top__inner .top-form input::-webkit-input-placeholder {
  color: #c8dcba;
}
.top__inner .top-form input:-ms-input-placeholder {
  color: #c8dcba;
}
.top__inner .top-form input::-ms-input-placeholder {
  color: #c8dcba;
}
.top__inner .top-form input::placeholder {
  color: #c8dcba;
}
.top__inner .top-form input + input {
  margin-left: 30px;
}
.top__inner .top-form button {
  position: absolute;
  right: -1px;
  bottom: -1px;
  color: #fff;
  background-color: #7eb252;
  border: none;
  outline: none;
  padding: 22px 110px 22px 74px;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 1px;
}
.top__inner .top-form button:after {
  content: '';
  background-image: url(../img/arrow.png);
  width: 30px;
  height: 9px;
  position: absolute;
  right: 3.75rem;
  top: 1.5rem;
}

.advantages {
  margin-bottom: 4.625rem;
}

.advantages__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.advantages__item {
  position: relative;
  width: 15rem;
  padding-left: 2.5rem;
  padding-top: 2.19rem;
}
.advantages__item:before {
  content: '';
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: 5px solid rgba(126, 178, 82, 0.3);
  top: 0;
  left: 0;
}
.advantages__item-number {
  display: inline-block;
  color: #a4c58c;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem;
  border-bottom: 3px solid #a4c58c;
  margin-bottom: 1.25rem;
}
.advantages__item-number span {
  font-size: 1.875rem;
}
.advantages__item-text {
  font-size: 1rem;
  line-height: 1.5rem;
}

.list__title {
  font-size: 2.5rem;
  font-weight: 700;
  color: #303030;
  line-height: 50px;
  max-width: 29.375rem;
  margin-bottom: 1.875rem;
}
.list__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.list__inner .tabs {
  padding-right: 1.25rem;
  width: 100%;
}
.list__inner .tabs .tab {
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 20px;
  color: #303030;
  padding: 1.25rem 0;
  border-bottom: 1px solid #e6efde;
  text-transform: uppercase;
  cursor: pointer;
}
.list__inner .tabs .tab span {
  color: #a4c58c;
}
.list__inner .tabs__content {
  min-width: 31.25rem;
  height: 43.125rem;
  background: #c8dcba url(../img/man.jpg) no-repeat center center/cover;
  position: relative;
}
.list__inner .tabs__content .tab-item {
  display: none;
  color: #fff;
  font-weight: 700;
  font-size: 0.75rem;
  width: 2.6875rem;
  height: 2.6875rem;
  border: 9px solid rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  position: absolute;
  text-align: center;
  line-height: 25px;
}
.list__inner .tabs__content .tab-item:first-child {
  display: block;
}
.list__inner .tabs__content .item-1 {
  left: 10rem;
  top: 11.375rem;
}
.list__inner .tabs__content .item-2 {
  left: 18.75rem;
  top: 12.5rem;
}
.list__inner .tabs__content .item-3 {
  left: 14.35rem;
  top: 4.5rem;
}
.list__inner .tabs__content .item-4 {
  left: 14.35rem;
  top: 8rem;
}
.list__inner .tabs__content .item-5 {
  left: 14.35rem;
  top: 2rem;
}
.list__inner .tabs__content .item-6 {
  left: 12.35rem;
  top: 22rem;
}
.list__inner .tabs__content .item-7 {
  left: 14.35rem;
  top: 9rem;
}
.list__inner .tabs__content .item-8 {
  left: 14.35rem;
  top: 12rem;
}
.list__inner .tabs__content .item-9 {
  left: 14.35rem;
  top: 7rem;
}
