*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 24px;
}

header {
  color: 000;
}

.container {
  max-width: 1200px;
  outline: 1px solid red;
  margin: 0 auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.indent {
  margin-bottom: 4.625rem;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 105px;
}

.header__text {
  margin-right: auto;
  margin-left: 3rem;
  color: #9a9a9a;
  font-size: 1rem;
}

.header__phone {
  font-weight: 500;
  font-size: 1.25rem;
}

.header__phone a {
  color: #303030;
  text-decoration: none;
  text-align: right;
  position: relative;
}

.header__phone a:before {
  content: '';
  background-image: url(../img/phone.svg);
  width: 0.94rem;
  height: 0.94rem;
  position: absolute;
  left: -1.68rem;
  top: 0.31rem;
}

.header__phone-text {
  font-size: 0.75rem;
  font-weight: 400;
  color: #9a9a9a;
  padding-top: 3px;
}

.top__images {
  max-width: 107.5rem;
  margin: 0 auto;
  min-height: 34rem;
  background: #fff url(../img/header-bg.jpg) no-repeat center center/cover;
}

.top__wrapper {
  margin-top: -28.125rem;
}

.top__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top__inner-img {
  margin-left: 7.8125rem;
}

.top__inner-form {
  max-width: 35.625rem;
  width: 100%;
  color: #fff;
}

.top__inner-suptitle {
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 5rem;
  letter-spacing: 2px;
}

.top__inner-title {
  font-size: 3.75rem;
  font-weight: 600;
  margin-bottom: 2.5rem;
  margin-top: 1rem;
}

.top__inner-text {
  margin-bottom: 5.625rem;
  font-size: 1.125rem;
  line-height: 1.5rem;
}

.top__inner .top-form {
  background-color: #fff;
  padding: 1.25rem;
}

.top__inner .top-form form {
  border: 2px solid #c8dcba;
  border-radius: 1px;
  position: relative;
}

.top__inner .top-form__inner {
  padding: 2.5rem 2.5rem 7.30rem 2.5rem;
}

.top__inner .top-form__title {
  font-size: 0.875rem;
  font-weight: 700;
  color: #303030;
  line-height: 22px;
  letter-spacing: 1.5px;
  margin-bottom: 2rem;
  text-transform: uppercase;
  width: 11.6rem;
}

.top__inner .top-form input {
  border: none;
  padding-top: 0.875rem;
  padding-bottom: 0.875rem;
  border-bottom: 1px solid #c8dcba;
  outline: none;
  font-size: 0.875rem;
  font-weight: 400;
  color: #303030;
  width: 12.5rem;
}

.top__inner .top-form input::-webkit-input-placeholder {
  color: #c8dcba;
}

.top__inner .top-form input:-ms-input-placeholder {
  color: #c8dcba;
}

.top__inner .top-form input::-ms-input-placeholder {
  color: #c8dcba;
}

.top__inner .top-form input::placeholder {
  color: #c8dcba;
}

.top__inner .top-form input + input {
  margin-left: 30px;
}

.top__inner .top-form button {
  position: absolute;
  right: -1px;
  bottom: -1px;
  color: #fff;
  background-color: #A4C58C;
  border: none;
  outline: none;
  padding: 22px 110px 22px 74px;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 1px;
}

.top__inner .top-form button:after {
  content: '';
  background-image: url(../img/arrow.png);
  width: 30px;
  height: 9px;
  position: absolute;
  right: 3.75rem;
  top: 1.5rem;
}

.advantages__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.advantages__item {
  position: relative;
  width: 15rem;
  padding-left: 2.5rem;
  padding-top: 2.19rem;
}

.advantages__item:before {
  content: '';
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: 5px solid rgba(126, 178, 82, 0.3);
  top: 0;
  left: 0;
}

.advantages__item-number {
  display: inline-block;
  color: #a4c58c;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem;
  border-bottom: 3px solid #a4c58c;
  margin-bottom: 1.25rem;
}

.advantages__item-number span {
  font-size: 1.875rem;
}

.advantages__item-text {
  font-size: 1rem;
  line-height: 1.5rem;
}

.list__title {
  font-size: 2.5rem;
  font-weight: 700;
  color: #303030;
  line-height: 50px;
  max-width: 29.375rem;
  margin-bottom: 1.875rem;
}

.list__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.list__inner .tabs {
  padding-right: 1.25rem;
  width: 100%;
}

.list__inner .tabs .tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 20px;
  color: #303030;
  padding: 1.5rem 3rem 1.5rem 0;
  border-bottom: 1px solid #e6efde;
  text-transform: uppercase;
  cursor: pointer;
}

.list__inner .tabs .tab span {
  color: #a4c58c;
  margin-right: .5rem;
}

.list__inner .tabs .tab.active {
  position: relative;
}

.list__inner .tabs .tab.active::after {
  content: '';
  position: absolute;
  right: 10px;
  width: 8px;
  height: 13px;
  background-image: url(../img/arrowSmall.png);
}

.list__inner .tabs .tabs-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.list__inner .tabs .tabs-box .tab {
  font-size: 1rem;
  font-weight: 400;
  width: 50%;
  text-transform: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list__inner .tabs .tabs-box .tab:first-child, .list__inner .tabs .tabs-box .tab:nth-child(3) {
  border-right: 1px solid #e6efde;
  padding-right: 1.5rem;
}

.list__inner .tabs .tabs-box .tab:last-child, .list__inner .tabs .tabs-box .tab:nth-child(2) {
  padding-left: 1.5rem;
}

.list__inner .tabs .tabs-box .tab span {
  font-size: 0.75rem;
  margin-right: 1rem;
}

.list__inner .tabs .tabs-box .tab.active::after {
  display: none;
}

.list__inner .tabs__content {
  min-width: 31.5rem;
  height: 43.125rem;
  background: #c8dcba url(../img/man.jpg) no-repeat center center/cover;
  position: relative;
  margin-top: -9rem;
}

.list__inner .tabs__content .tab-item {
  display: none;
  color: #fff;
  background-color: #c8dcba;
  font-weight: 700;
  font-size: 0.75rem;
  width: 2.6875rem;
  height: 2.6875rem;
  border: 9px solid rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  position: absolute;
  text-align: center;
  line-height: 25px;
}

.list__inner .tabs__content .tab-item:first-child {
  display: block;
}

.list__inner .tabs__content .item-1 {
  left: 10rem;
  top: 11.375rem;
}

.list__inner .tabs__content .item-2 {
  left: 18.75rem;
  top: 12.5rem;
}

.list__inner .tabs__content .item-3 {
  left: 14.35rem;
  top: 4.5rem;
}

.list__inner .tabs__content .item-4 {
  left: 14.35rem;
  top: 8rem;
}

.list__inner .tabs__content .item-5 {
  left: 14.35rem;
  top: 2rem;
}

.list__inner .tabs__content .item-6 {
  left: 12.35rem;
  top: 22rem;
}

.list__inner .tabs__content .item-7 {
  left: 14.35rem;
  top: 9rem;
}

.list__inner .tabs__content .item-8 {
  left: 14.35rem;
  top: 12rem;
}

.list__inner .tabs__content .item-9 {
  left: 14.35rem;
  top: 17rem;
}

.list__inner .tabs__content .tabs__reviews {
  padding: 1.8rem;
  background-color: #f6f9f3;
  max-width: 26.875rem;
  position: absolute;
  bottom: 1.4rem;
}

.list__inner .tabs__content .tabs__reviews-inner {
  border: 1px solid #c8dcba;
  padding: 1.5rem 2rem 1.5rem 2.5rem;
}

.list__inner .tabs__content .tabs__reviews-inner .tabs__reviews-text {
  color: #303030;
}

.list__inner .tabs__content .tabs__reviews-inner .tabs__reviews-link {
  color: #7eb252;
  font-weight: 600;
  padding: 0 0.5rem;
  position: absolute;
  bottom: 1.125rem;
  background-color: #f6f9f3;
}

.list .list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 1.25rem;
}

.list .list__link a {
  color: #fff;
  background-color: #A4C58C;
  outline: none;
  padding: 22px 6.25rem 22px 7.5rem;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  min-width: 31.5rem;
  position: relative;
}

.list .list__link a:after {
  content: '';
  background-image: url(../img/arrow.png);
  width: 30px;
  height: 9px;
  position: absolute;
  right: 3.75rem;
  top: 1.8rem;
}

.popularity__wrapper {
  max-width: 107.5rem;
  min-height: 40rem;
  background-image: url(../img/girlWithCup.jpg);
  background-repeat: no-repeat;
  background-position: -53%;
}

.popularity__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.popularity__inner .popularity__box {
  width: 50%;
  background-color: #fff;
  padding: 1.25rem;
  margin-right: 2rem;
}

.popularity__inner .popularity__box-text {
  border: 1px solid #c5dab5;
  padding: 1.875rem;
  color: #303030;
}

.popularity__inner .popularity__box-link {
  margin-top: 1.25rem;
  color: #fff;
  background-color: #A4C58C;
  outline: none;
  padding: 22px 98.8px 22px 25px;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .6px;
  text-decoration: none;
  position: absolute;
}

.popularity__inner .popularity__box-link:after {
  content: '';
  background-image: url(../img/arrow.png);
  width: 30px;
  height: 9px;
  position: absolute;
  right: 1.5rem;
  top: 1.8rem;
}

.popularity__inner .popularity__right {
  max-width: 31.5rem;
  width: 100%;
  padding-right: 1rem;
  color: #303030;
}

.popularity__inner .popularity__right-title {
  font-weight: 700;
  line-height: 45px;
  font-size: 2.5rem;
  margin-top: 2rem;
}

.popularity__inner .popularity__right-subtitle {
  padding: 50px 0;
  font-weight: 700;
  font-size: 0.875rem;
  text-transform: uppercase;
}

.popularity__inner .popularity__right-list {
  list-style: none;
  padding-left: 0;
}

.popularity__inner .popularity__right-list li {
  position: relative;
  line-height: 1.375rem;
  margin-bottom: 2.8rem;
  padding-left: 2.5rem;
}

.popularity__inner .popularity__right-list li:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 8px;
  height: 13px;
  background-image: url(../img/arrowSmall.png);
}
/*# sourceMappingURL=style.css.map */