$primary-color: #fff;
$gray-color: #9a9a9a;
$light-gray: #f6f9f3;
$green-pale: #c8dcba;
$bg-button: #A4C58C;
$black-color: #303030;
$main-font: consolas, sans-serif;
$montserat: 'Montserrat', sans-serif;
*,
*::after,
*::before {
	box-sizing: border-box;
}
body {
	font-family: $montserat;
	font-weight: 400;
	line-height: 24px;
}
header {
	color: 000;
}
.container {
	max-width: 1200px;
	outline: 1px solid red;
	margin: 0 auto;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}
.indent {
	margin-bottom: 4.625rem;
}
.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 105px;
}
.header__text {
	margin-right: auto;
	margin-left: 3rem;
	color: $gray-color;
	font-size: 1rem;
}
.header__phone {
	font-weight: 500;
	font-size: 1.25rem;
	a {
		color: $black-color;
		text-decoration: none;
		text-align: right;
		position: relative;
		&:before {
			content: '';
			background-image: url(../img/phone.svg);
			width: 0.94rem;
			height: 0.94rem;
			position: absolute;
			left: -1.68rem;
			top: 0.31rem;
		}
	}
}
.header__phone-text {
	font-size: 0.75rem;
	font-weight: 400;
	color: $gray-color;
	padding-top: 3px;
}
.top {
	&__images {
		max-width: 107.5rem;
		margin: 0 auto;
		min-height: 34rem ;
		background: $primary-color url(../img/header-bg.jpg) no-repeat center center / cover;
	}
	&__wrapper {
		margin-top: -28.125rem;
	}
	&__inner {
		display: flex;
		justify-content: space-between;
		&-img {
			margin-left: 7.8125rem;
		}
		&-form {
			max-width: 35.625rem;
			width: 100%;
			color: $primary-color;
		}
		&-suptitle {
			font-size: 0.875rem;
			font-weight: 700;
			text-transform: uppercase;
			margin-top: 5rem;
			letter-spacing: 2px;
		}
		&-title {
			font-size: 3.75rem;
			font-weight: 600;
			margin-bottom: 2.5rem;
			margin-top: 1rem;
		}
		&-text {
			margin-bottom: 5.625rem;
			font-size: 1.125rem;
			line-height: 1.5rem;
		}
		.top-form {
			background-color: $primary-color;
			padding: 1.25rem;
			& form {
				border: 2px solid $green-pale;
				border-radius: 1px;
				position: relative;
			}
			&__inner {
				padding: 2.5rem 2.5rem 7.30rem 2.5rem;
			}
			&__title {
				font-size: 0.875rem;
				font-weight: 700;
				color: $black-color;
				line-height: 22px;
				letter-spacing: 1.5px;
				margin-bottom: 2rem;
				text-transform: uppercase;
				width: 11.6rem;
			}
			& input {
				border: none;
				padding-top: 0.875rem;
				padding-bottom: 0.875rem;
				border-bottom: 1px solid $green-pale;
				outline: none;
				font-size: 0.875rem;
				font-weight: 400;
				color: $black-color;
				width: 12.5rem;
				&::placeholder {
					color: $green-pale;
				}
				& + input {
					margin-left: 30px;
				}
			}
			& button {
				position: absolute;
				right: -1px;
				bottom: -1px;
				color: $primary-color;
				background-color: $bg-button;
				border: none;
				outline: none;
				padding: 22px 110px 22px 74px;
				font-size: 0.875rem;
				font-weight: 700;
				text-transform: uppercase;
				cursor: pointer;
				letter-spacing: 1px;
				&:after {
					content: '';
					background-image: url(../img/arrow.png);
					width: 30px;
					height: 9px;
					position: absolute;
					right: 3.75rem;
					top: 1.5rem;
				}
			}
		}
	}
}
.advantages__inner {
	display: flex;
	justify-content: space-around;
}
.advantages__item {
	position: relative;
	width: 15rem;
	padding-left: 2.5rem;
	padding-top: 2.19rem;
	&:before {
		content: '';
		position: absolute;
		width: 1.5rem;
		height: 1.5rem;
		border-radius: 50%;
		border: 5px solid rgba(126, 178, 82, .3);
		top: 0;
		left: 0;
	}
	&-number {
		display: inline-block;
		color: #a4c58c;
		font-size: 1.125rem;
		font-weight: 600;
		line-height: 1.5rem;
		border-bottom: 3px solid #a4c58c;
		margin-bottom: 1.25rem;
		& span {
			font-size: 1.875rem;
		}
	}
	&-text {
		font-size: 1rem;
		line-height: 1.5rem;
	}
}
.list {
	&__title {
		font-size: 2.5rem;
		font-weight: 700;
		color: $black-color;
		line-height: 50px;
		max-width: 29.375rem;
		margin-bottom: 1.875rem;
	}
	&__inner {
		display: flex;
		justify-content: space-between;
		& .tabs {
			padding-right: 1.25rem;
			width: 100%;
			& .tab {
				display: flex;
				align-items: center;
				font-weight: 600;
				font-size: 0.875rem;
				line-height: 20px;
				color: $black-color;
				padding: 1.5rem 3rem 1.5rem 0;
				border-bottom: 1px solid #e6efde;
				text-transform: uppercase;
				cursor: pointer;
				& span {
					color: #a4c58c;
					margin-right: .5rem;
				}
				&.active {
					position: relative;
					&::after {
						content: '';
						position: absolute;
						right: 10px;
						width: 8px;
						height: 13px;
						background-image: url(../img/arrowSmall.png);
					}
				}
			}
			& .tabs-box {
				display: flex;	
				flex-wrap: wrap;
				& .tab {
					font-size: 1rem;
					font-weight: 400;
					width: 50%;
					text-transform: none;
					display: flex;
					align-items: center;
					&:first-child,
					&:nth-child(3) {
						border-right: 1px solid #e6efde;
						padding-right: 1.5rem;
					}
					&:last-child,
					&:nth-child(2) {
						padding-left: 1.5rem;
					}
					& span {
						font-size: 0.75rem;
						margin-right: 1rem;
					}
					&.active::after {
						display: none;
					}
				}
			}
		}
		& .tabs__content {
			min-width: 31.5rem;
			height: 43.125rem;
			background: $green-pale url(../img/man.jpg) no-repeat center center / cover;
			position: relative;
			margin-top: -9rem;
			& .tab-item {
				display: none;
				color: $primary-color;
				background-color: $green-pale;
				font-weight: 700;
				font-size: 0.75rem;
				width: 2.6875rem;
				height: 2.6875rem;
				border: 9px solid rgba(255,255,255, .8);
				border-radius: 50%;
				position: absolute;
				text-align: center;
				line-height: 25px;
			}
			& .tab-item:first-child {
				display: block;
			}
			.item-1 {
				left: 10rem;
				top: 11.375rem;
			}
			.item-2 {
				left: 18.75rem;
				top: 12.5rem;
			}
			.item-3 {
				left: 14.35rem;
				top: 4.5rem;
			}
			.item-4 {
				left: 14.35rem;
				top: 8rem;
			}
			.item-5 {
				left: 14.35rem;
				top: 2rem;
			}
			.item-6 {
				left: 12.35rem;
				top: 22rem;
			}
			.item-7 {
				left: 14.35rem;
				top: 9rem;
			}
			.item-8 {
				left: 14.35rem;
				top: 12rem;
			}
			.item-9 {
				left: 14.35rem;
				top: 17rem;
			}
			& .tabs__reviews {
				padding: 1.8rem;
				background-color: $light-gray;
				max-width: 26.875rem;
				position: absolute;
				bottom: 1.4rem;
				&-inner {
					border: 1px solid $green-pale;
					padding: 1.5rem 2rem 1.5rem 2.5rem;
					& .tabs__reviews-text {
						color: #303030;
					}
					& .tabs__reviews-link {
						color: #7eb252;
						font-weight: 600;
						padding: 0 0.5rem;
						position: absolute;
						bottom: 1.125rem;
						background-color: #f6f9f3;
					}
				}
			}
		}
	}
	& .list__link {
		display: flex;
		justify-content: flex-end;
		margin-top: 1.25rem;
		& a {
			color: $primary-color;
			background-color: $bg-button;
			outline: none;
			padding: 22px 6.25rem 22px 7.5rem;
			font-size: 0.875rem;
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: 1px;
			text-decoration: none;
			min-width: 31.5rem;
			position: relative;
			&:after {
				content: '';
				background-image: url(../img/arrow.png);
				width: 30px;
				height: 9px;
				position: absolute;
				right: 3.75rem;
				top: 1.8rem;
			}
		}
	}
}
.popularity {
	&__wrapper {
		background: red;
		max-width: 107.5rem;
		// 1720px
		min-height: 40rem;
		margin: 0 auto;
		background-image: url(../img/girlWithCup.jpg);
		background-repeat: no-repeat;
	}
	&__inner {
		display: flex;
		align-items: flex-end;
		justify-content: flex-end;
		& .popularity__box {
			width: 50%;
			background-color: $primary-color;
			padding: 1.25rem;
			margin-right: 2rem;
			&-text {
				border: 1px solid #c5dab5;
				padding: 1.875rem;
				color: $black-color;
			}
			&-link {
				margin-top: 1.25rem;
				color: $primary-color;
				background-color: $bg-button;
				outline: none;
				padding: 22px 98.8px 22px 25px;
				font-size: 0.875rem;
				font-weight: 700;
				text-transform: uppercase;
				letter-spacing: .6px;
				text-decoration: none;
				position: absolute;
				&:after {
					content: '';
					background-image: url(../img/arrow.png);
					width: 30px;
					height: 9px;
					position: absolute;
					right: 1.5rem;
					top: 1.8rem;
				}
			}
		}
	}
}
.popularity__right {
	max-width: 31.5rem;
	width: 100%;
	padding-right: 1rem;
	color: $black-color;
	&-title {
		font-weight: 700;
		line-height: 45px;
		font-size: 2.5rem;
		margin-top: 2rem;
	}
	&-subtitle {
		padding: 50px 0;
		font-weight: 700;
		font-size: 0.875rem;
		text-transform: uppercase;
	}
	&-list {
		list-style: none;
		padding-left: 0;
		& li {
			position: relative;
			line-height: 1.375rem;
			margin-bottom: 2.8rem;
			padding-left: 2.5rem;
			&:before {
				content: "";
				position: absolute;
				top: 50%;
				left: 0;
				transform: translateY(-50%);
				width: 8px;
				height: 13px;
				background-image: url(../img/arrowSmall.png);
			}
		}
	}
}